{% load static %}
<!-- Topbar Navbar -->
<!-- Topbar -->
<nav class="navbar navbar-expand navbar-light bg-white1 topbar mb-4 static-top shadow">

    <!-- Sidebar Toggle (Topbar) -->
    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
        <i class="fa fa-bars"></i>
    </button>
    <ul class="navbar-nav ml-auto">
        {% include 'alarme.html' %}

        <div class="topbar-divider d-none d-sm-block"></div>

        {% include 'inforUser.html' %}

    </ul>

</nav>
<!-- End of Topbar -->